<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Soumik Karmakar - Resume</title>
</head>

<body>
    <header>
        <h1>Soumik Karmakar</h1>
        <p>Bengaluru, India | +91-9471321439</p>
        <p>soumik.karmakar.work@gmail.com | <a href="https://www.linkedin.com/in/soumikkarmakar">LinkedIn</a></p>
    </header>

    <main>
        <section>
            <h2>Summary</h2>
            <p>Data Scientist with ~ 4 years of experience in the Fintech sector, specializing in machine learning model
                development. Successfully spearheaded projects resulting in a 40% reduction in analysis time and
                improved operational efficacy leading to a 70% increase in revenue. Proficient in Python, statistical
                analysis, and forecasting, with a proven track record of developing models that enhance efficiency and
                accuracy in financial operations.</p>
        </section>

        <section>
            <h2>Skills</h2>
            <ul>
                <li><strong>Programming Languages:</strong> Python, SQL, C++</li>
                <li><strong>Data Science and Machine learning:</strong> Numpy, Pandas, Matplotlib, Seaborn, Tensorflow,
                    Keras</li>
                <li><strong>Tools:</strong> Git, JIRA, MS Excel, Matplotlib, PowerBI, VBA</li>
            </ul>
        </section>

        <section>
            <h2>Experience</h2>
            <article>
                <h3>Consultant - Data & Analytics</h3>
                <p>ERNST & YOUNG(EY), BENGALURU | Aug 2023 - Present</p>
                <ul>
                    <li>Created and maintained an integrated data management system using Access database and Excel VBA,
                        automating data consolidation, reconciliation, and synchronization between forecast Excel sheets
                        and the Access database.</li>
                    <li>Collaborated with stakeholders, provided user training, and continuously improved the solution
                        to enhance data accuracy and streamline data management processes.</li>
                    <li>Optimized actual cost data integration into forecast files, reducing reconciliation time from 6
                        days to 2 days.</li>
                </ul>
            </article>
            <article>
                <h3>Associate Software Engineer - II</h3>
                <p>HIGHRADIUS, HYDERABAD | Jul 2021 - May 2023</p>
                <ul>
                    <li>Identified customers who are at risk of exceeding their credit limits, allowing analysts to
                        intervene before defaults occur.</li>
                    <li>Developed a predictive model using Random Forest, utilizing historical order data, to accurately
                        forecast order amounts for the upcoming seven days, achieving an 70% prediction accuracy.</li>
                    <li>Reduction in TAT of analysis by ~40% to resolve the blocked orders by credit analysts.</li>
                    <li>Developed a system to predict the likelihood of blocked orders being released, based on past
                        order data.</li>
                    <li>Created a binary classification model(Lightgbm), achieving an average recall of 0.78.</li>
                    <li>Significantly decreased TAT (in hours) by ~ 80%, leading to an increased client revenue for
                        clients.</li>
                </ul>
            </article>
            <article>
                <h3>Associate Software Engineer - I</h3>
                <p>HIGHRADIUS, HYDERABAD | May 2020 - Jul 2021</p>
                <ul>
                    <li>Enhanced operational efficacy and monetization for stakeholders by strategically identifying
                        high-risk customers.</li>
                    <li>Implemented a regression model, Random Forest, achieving 86% accuracy, based on 72 derived
                        features to predict client payment timelines.</li>
                    <li>Ensured faster payment receivables recovery for ~70% of invoices which led in increment of more
                        goods for sale.</li>
                    <li>Implemented an advanced time-series model for predicting cash flows over two weeks, enhancing
                        financial planning accuracy.</li>
                    <li>Devised and fine-tuned an ARIMA-based forecasting model, achieving a Mean Absolute Percentage
                        Error (MAPE) of 6.7% in cash flow predictions.</li>
                    <li>Outperformed the client's previous solution, reducing MAPE by approximately 15%, thereby
                        significantly improving the precision of cash flow forecasts.</li>
                </ul>
            </article>
        </section>

        <section>
            <h2>Education</h2>
            <article>
                <h3>Bachelor of Technology in Information Technology</h3>
                <p>KIIT University, BHUBANESWAR | Jun 2016 – Mar 2020</p>
            </article>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 Soumik Karmakar. All rights reserved.</p>
    </footer>
</body>

</html>